.git/
.nextflow/
.nextflow.log
.nextflow.log.*
work/
results/
.runtime_downloads/
.tmp_*/
singularity_img/
plink/
.runtime/
data/outputfolder_gen/
data/pipeline_info/
__pycache__/
*.py[cod]
.DS_Store
trace.txt
report.html
timeline.html
dag.html
dag.*.html