manifest {
  name = 'GenotypeQC'
  author = 'Urmo Võsa'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.1'
}

params {
  output_dir = './results'
  custom_config_version = 'master'
  tracedir = "${params.output_dir ?: './results'}/pipeline_info"
  report_template = "$baseDir/bin/Report_template.Rmd"
  embedded_runtime = false
  embedded_runtime_root = "$baseDir/.runtime"
  offline_runtime_dir = "$baseDir/.offline_runtime"
  render_dag = false

  vcf = ''
  bfile = ''
  fam = ''
  cohort_name = ''
  genome_build = 'hg19'
  data_type = 'array'
  reference_unrelated_samples = "$baseDir/data/unrelated_reference_samples_ids.txt"
  reference_populations = "$baseDir/data/1000G_pops.txt"
  inclusion_list = ''
  exclusion_list = ''
  additional_covariates = ''

  qc_out_s = 0.4
  qc_out_sd = 3
  qc_hwe = 1e-6
  qc_maf = 0.01
  vcf_maf = 0.01
  vcf_hwe = 1e-6
  vcf_imp = 0.8
  vcf_imp_field = 'R2'
  vcf_genotype_field = ''
  enable_imputation_filter = true

  container_image = 'ghcr.io/urmovosa/genotypeqc:latest'
  runtime_cache_dir = "$baseDir/.runtime_downloads"
  plink_executable = ''
  plink2_executable = ''
  reference_1000g_folder = ''
  chain_path = ''
  liftover_executable = ''

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

//Define Docker/Singularity container
process.container = params.container_image

includeConfig 'conf/base.config'

profiles {
  slurm { includeConfig 'conf/slurm.config' }
  pbs { includeConfig 'conf/pbs.config' }
  sge { includeConfig 'conf/sge.config' }
  local_vm { includeConfig 'conf/local_vm.config' }
  single_docker {
    includeConfig 'conf/local_vm.config'
    params.embedded_runtime = true
    params.embedded_runtime_root = '/opt/genotypeqc/.runtime'
    params.offline_runtime_dir = System.getenv('GENOTYPEQC_OFFLINE_RUNTIME_DIR') ?: '/offline-runtime'
    process.container = null
    docker.enabled = false
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
    params.embedded_runtime = true
    params.embedded_runtime_root = '/opt/genotypeqc/.runtime'
    params.offline_runtime_dir = System.getenv('GENOTYPEQC_OFFLINE_RUNTIME_DIR') ?: "$baseDir/.offline_runtime"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
}

// Set singularity and nextflow cachedirs for task execution environments
// env.SINGULARITY_CACHEDIR=''
// env.NXF_HOME=''

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/GenotypeQC_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.tracedir}/GenotypeQC_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.tracedir}/GenotypeQC_trace.txt"
  overwrite = true
}
dag {
  enabled = params.render_dag
  file = "${params.tracedir}/GenotypeQC_dag.svg"
  overwrite = true
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
