manifest {
  name = 'Cvdlink/GenoDataQC'
  author = 'Urmo Võsa'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.1'
}

params {
  output_dir = './results'
  custom_config_version = 'master'
  tracedir = "${params.output_dir ?: './results'}/pipeline_info"

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

//Define Docker/Singularity container
process.container = 'quay.io/eqtlgen/popassign:v0.6'

includeConfig 'conf/base.config'

profiles {
  slurm { includeConfig 'conf/slurm.config' }
  pbs { includeConfig 'conf/pbs.config' }
  sge { includeConfig 'conf/sge.config' }
  local_vm { includeConfig 'conf/local_vm.config' }
  single_docker {
    includeConfig 'conf/local_vm.config'
    params.embedded_runtime = true
    process.container = null
    docker.enabled = false
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
}

// Set singularity and nextflow cachedirs for task execution environments
// env.SINGULARITY_CACHEDIR=''
// env.NXF_HOME=''

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/Cvdlink_GenotypeQc_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.tracedir}/Cvdlink_GenotypeQc_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.tracedir}/Cvdlink_GenotypeQc_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.tracedir}/Cvdlink_GenotypeQc_dag.svg"
  overwrite = true
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
